/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-green: #318760;
  --primary-mint: #42b883;
  --light-mint: #78cea8;
  --light-blue: #b0c1d4;
  --primary-blue: #6185a8;
  --dark-blue: #34495e;
  --celadon: #96d9bb;
  --charcoal: #243342;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  max-height: 100vh;
  color: var(--dark-blue);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  color: white;
  background-color: var(--charcoal);
}
